<router-outlet />
@if(ageCheck){
    @if(innerWidth > 1400) {
        <div class="cta">
            <div class="bg-primary-100 relative z-[30] w-[60rem] h-[30rem] left-[50%] top-[35%] rounded-2xl ml-[-30rem] mt-[-15rem]">
                <h1 class="text-primary-900 relative left-[34.5%] top-[20%] text-[2.4rem] font-bold w-fit">Are you over 18 ?</h1>
                <div class="relative left-[34%] top-[55%] flex w-fit">
                    <div (click)="backClicked()" class="rounded-2xl bg-warning-600 px-[4rem] py-[1.5rem] w-fit shadow-lg cursor-pointer mr-8">
                        No
                    </div>
                    <div (click)="yesClicked()" class="rounded-2xl bg-success-600 px-[4rem] py-[1.5rem] w-fit shadow-lg cursor-pointer">
                        Yes
                    </div>
                </div>
            </div>
        </div>
    }
    @else{
        <div class="cta">
            <div class="bg-primary-100 relative z-[30] w-[23rem] h-[20rem] top-[15%] rounded-2xl left-[2.8%]">
                <h1 class="text-primary-900 relative top-[20%] left-[5.8%] text-[2.4rem] font-bold w-fit">Are you over 18 ?</h1>
                <div class="relative top-[55%] left-[5%] flex w-fit">
                    <div (click)="backClicked()" class="rounded-2xl bg-warning-600 px-[4rem] py-[1.5rem] w-fit shadow-lg cursor-pointer mr-8">
                        No
                    </div>
                    <div (click)="ageCheck = false" class="rounded-2xl bg-success-600 px-[4rem] py-[1.5rem] w-fit shadow-lg cursor-pointer">
                        Yes
                    </div>
                </div>
            </div>
        </div>
    }
}